@page "/deneme"

<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
        </div>
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img src="" class="img-fluid rounded-3" alt="Product Image">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Product Name</p>
                <p><span class="text-muted">Category </span>Product Category <span class="text-muted">Publisher: </span>Product Publisher</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <div class="col-6 col-sm-4 col-lg-6">
                  <button type="submit" class="btn btn-secondary">
                    <i class="bi bi-plus-square"></i>
                  </button>
                  <div class="col-4 pt-1 ">
                    <h6><strong>Product Price x Product Count</strong></h6>
                  </div>
                  <button type="submit" class="btn btn-primary">
                    <i class="bi bi-dash-square"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">Total Price</h5>
              </div>
              <div class="col-2 col-sm-4 col-lg-2 text-right">
                <button type="submit" class="btn btn-outline-danger">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
              <input type="text" id="form1" class="form-control form-control-lg" />
              <label class="form-label" for="form1">Discount code</label>
            </div>
            <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body d-flex justify-content-between">
            <button type="button" class="btn btn-warning btn-lg">Order Total</button>
            <button type="button" class="btn btn-warning btn-lg">Proceed to Pay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


@code {

}
