@page "/ForgotPassword/{ForgotNumber}"
@using ECommerce_ForUdemy_Client.Service.IService;
@using ECommerce_ForUdemy_Models;
@inject IAuthenticationService _authenticationService

<head>
    <title>Parola Değiştirme Formu</title>
</head>

    <h2>Parola Değiştirme Formu</h2>
    <div>
    <div class="form-group">
        <label for="email">Parola</label>
        <input type="email" id="email" class="form-control" @bind="@NewPassword" />
        <label for="email">Parola tekrarı</label>
        <input type="email" id="email" class="form-control" @bind="@ConfirmPassword" />
        <label for="email">Forgot number</label>
        <input type="email" id="email" class="form-control" @bind="@ForgotPasswordNumber" />
        <button class="btn btn-primary" @onclick="ChangeUserPassword">Gönder</button>

    </div>
    </div>


@code {
    [Parameter]
    public string ForgotNumber { get; set; }
    public string NewPassword { get; set; }
    public string ConfirmPassword { get; set; }
    public string ForgotPasswordNumber { get; set; }
    public NewPasswordModel model { get; set; } = new();

    public async Task ChangeUserPassword()
    {
        model.ChangePasswordNumber = ForgotNumber;
        model.NewPassword = NewPassword;
        model.ConfirmPassword = ConfirmPassword;
        await _authenticationService.ChangePassword(model);
    }

}
