@page "/EmailForm"
@using ECommerce_ForUdemy_Client.Service.IService;
@using ECommerce_ForUdemy_Models;
@inject IUserService _userService

<h3>E-posta Adresi Formu</h3>

<p>Lütfen e-posta adresinizi girin:</p>

<div class="form-group">
    <label for="email">E-posta Adresi:</label>
    <input type="email" id="email" class="form-control" @bind="@EmailAddress" />
</div>
@if(IsSuccessEmail == false)
{
    <button class="btn btn-primary" @onclick="SubmitForm">Gönder</button>

}
else
{
    <button class="btn btn-primary" @onclick="SendEmail">Doğrulama İçin Mail Gönder</button>
}

@code {
    private string EmailAddress { get; set; }
    public string ForgotPasswordNumber { get; set; }
    public bool IsSuccessEmail { get; set; } = false;
    public ChangePasswordModel request { get; set; } = new();
    private async Task SubmitForm()
    {
        var response = await _userService.GetUserByEmail(EmailAddress);
        ForgotPasswordNumber = response.ForgotPasswordNumber.ToString();
        if (ForgotPasswordNumber != null)
        {
            IsSuccessEmail = true;
        }
    }

    private async Task SendEmail(){
        string ForSendEmail = "Parolamı Unuttum Mail'i";
        request.Subject = ForSendEmail;
        request.Mail = EmailAddress;
        request.Body = ForgotPasswordNumber;
      await _userService.SendEmail(request);

    }
}