@page "/EmailForm"
@using ECommerce_ForUdemy_Client.MailService;
@using ECommerce_ForUdemy_Client.Service.IService;
@inject IMailHelperForgotPassword _mailHelper
@inject IUserService _userService

<h3>E-posta Adresi Formu</h3>

<p>Lütfen e-posta adresinizi girin:</p>

<div class="form-group">
    <label for="email">E-posta Adresi:</label>
    <input type="email" id="email" class="form-control" @bind="@EmailAddress" />
</div>

<button class="btn btn-primary" @onclick="SubmitForm">Gönder</button>

@code {
    private string EmailAddress { get; set; }
    public string ForgotPasswordNumber { get; set; }

    private async Task SubmitForm()
    {
        string ForSendEmail = "Parolamı Unuttum Mail'i";
        var response = await _userService.GetUserByEmail(EmailAddress);
        _mailHelper.SendEmailForResEmail(ForSendEmail, EmailAddress,response.ForgotPasswordNumber.ToString());
        ForgotPasswordNumber = response.ForgotPasswordNumber.ToString();
    }
}