<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="GelfAppender" type="Gelf4Net.Appender.Gelf4NetAppender, Gelf4Net.Appender">
		<serverUrl value="http://graylog-server:12201/gelf" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="GelfAppender" />
	</root>
</log4net>
